// _dimensions.scss
//    Author:         Jack
//    Date:           2024-06-23
//    Last revided:   2025-06-08
//    Description:  SCSS dimensions partial for 
//                  'Seven Essentials Project'

// Image Dimensions
$image-width-sm: 100px;
$image-width-med: 450px;
$image-width-lg: 650px;
$image-width-xl: 900px;

// Containers
$p-width: 95%;
$container-width-sm: 328px;
$container-width-med: 600px;
$container-width-lg: 960px;
$container-width-xl: 100%;

// Float left, right
$float-left: left;
$float-right: right;

// Border radius
$radius-sm: 6px;
$radius-med: 15px;
$radius-lg: 25px;
$radius-xl: 50px;

