// _variables.scss
//    Author:         Jack
//    Date:           2024-06-23
//    Last revided:   2025-06-08
//    Description:  SCSS variables partial for 
//                  'Seven Essentials Project'

// Colors
$background-color: #ccc9a1;
$font-color: #280001;
$font-color-neg: #f0ffce;
$paragraph-bg-color: #f0ffce;
$h-color: #4c230a;
$nav-color: #4c230a;
$body-a-color: #c50404;

// Calls-to-action
$cta-red: #c50404;
$cta-yellow: #dcdc05;
$cta-blue: #2222f3;
$cta-orange: #eb9b06;
$cta-green: #0a850a;
$cta-purple: #7d0d7d;
